* {
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;

  &.is-overlay-opened {
    overflow: hidden;
  }
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__inner {
    display: flex;
    width: 100%;

    @media(max-width: 1200px) {
      flex-wrap: wrap;
    } 
  }

  &__background-block {
    background-image: url('../public/images/steps.png');
    background-position: top;
  }

  &__margin-block {
    margin-bottom: 40px;
    padding-top: 140px;
  }
}

.overlay {
  display: none;
  z-index: 9000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);

  &.is-open {
    display: block;
  }
}

.title {
  margin-top: 50px;
  text-align: center;
  font-size: 35px;
  color: rgba(0,159,227,255);

  &--main {
    font-size: 30px;
  }

  &--blue {
    color: rgba(0,159,227,255);
  }
}

.header {
  position: relative;
  display: flex;
  width:100%;
  height: 500px;
  background-image: url('../public/images/dog.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 80%;

  &__logo {
    position: absolute;
    bottom: -113px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__top {
    display: flex;
    width: 100%;
    height: 60px;
    padding: 10px;
    background: #000;
    opacity: 0.35;
  }

  &__languages {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: auto;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  border: none;
  cursor: pointer;

  &--language {
    width: 30px;
    height: 30px;
    border-radius: 100%;

    &:nth-child(1) {
      margin-right: 5px;
    }
    
    &:not(.active):hover {
      cursor: pointer;
    }

    &.active {
      pointer-events: none;
      width: 40px;
      height: 40px;
      font-size: 18px;
      background: rgba(254,237,1,255);
      color: black;
    }
  }

  &--make-order {
    display: none;
    z-index: 1000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(254,237,1,0.8);
    font-size: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.25 ease-out;

    &:hover {
      background-color: rgba(254,237,1,1);
    }

    &.active {
      display: block;
    }
  }

  &--close {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    cursor: pointer;

    svg {
      fill: black;
    }
  }
}

.about-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 0 115px;

  @media(max-width: 1200px) {
    width: 100%;
    padding: 35px 35px 0;

    &:first-of-type {
      padding-top: 100px;
    }

    &:last-of-type {
      padding-top: 0;
    }
  }

  &__title {
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: rgba(254,237,1,255);
  }

  &__text {
    margin: 0;
    text-align: center;
    font-size: 20px;
  }
}

.product-card {
  display: flex;
  flex-direction: column;
  height: 440px;
  width: 300px;
  min-width: 300px;
  margin-right: 45px;
  margin-bottom: 35px;
  padding: 15px;
  background-color: #dddddd;
  border: 2px solid rgba(254,237,1,255);
  border-radius: 10px;

  &:last-of-type {
    margin-right: 0;
  }

  &__top {
    position: relative;
    width: 100%;
    height: 285px;
    margin-bottom: 10px;
    border: 4px solid rgba(0,159,227,255);
    border-radius: 10px;

    &:hover {
      .product-card__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &__description {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
    background: black;
    opacity: 0.7;
    border-radius: 10px;
  }

  &__name {
    margin-bottom: 20px;
    font-weight: bold;
  }

  &__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 7px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__input {
    width: 25px;
    height: 25px;

    &:hover {
      cursor: pointer;
    }
  }

  &__input-title {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
  }

  &__name {
    font-size: 20px;
    margin: 10px;
  }

  &__author-info {
    margin: 8px;
  }

  &__author-name {
    text-decoration: none;
    color: white;
  }

  &__price {
    color: rgba(0,159,227,255);
  }

  &__button {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;

    &:hover {
      background-color: rgba(254,237,1,1);
    }
  }
}

.products-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .swiper {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 70px;

    @media(max-width: 720px) {
      padding: 0 36px;
    }

    @media(max-width: 380px) {
      padding: 0 10px;
    }

    &:before {
      z-index: 500;
      content: '';
      position: absolute;
      left: 0;
      top: -16px;
      width: 60px;
      height: 100%;
      background: linear-gradient(to right, rgba(0,159,227,0.5), rgba(254,237,1,0.5));

      @media(max-width: 720px) {
        width: 40px;
      }
    }
  
    &:after {
      z-index: 500;
      content: '';
      position: absolute;
      right: 0;
      top: -16px;
      width: 60px;
      height: 100%;
      background: linear-gradient(to left, rgba(0,159,227,0.5), rgba(254,237,1,0.5));

      @media(max-width: 720px) {
        width: 40px;
      }
    }
  }

  .swiper-wrapper {
    width: auto;
    margin: 0 auto;
  }

  .swiper-slide {
    width: 300px;
    margin-right: 45px;

    &:last-of-type {
      margin-right: 0;
    }
  }

  .swiper-button-next, .swiper-button-prev {
    z-index: 600;
    color: black;
  }
}

.popup {
  display: none;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100vw;
  max-height: 95vh;
  overflow-y: auto;
  flex-direction: column;
  padding: 15px 25px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,159,227,0.5);

  &.is-open {
    display: flex;
  }

  &__close-btn {
    margin-left: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    &.hidden {
      display: none;
    }
  }

  &__title {
    margin: 0 auto;
    padding: 15px 0 20px;
    text-align: center;
    font-size: 20px;
    color: rgba(0,159,227,1);
  }

  &__subtitle {
    display: flex;
    width: 100%;
    margin: 0;

    &--center {
      text-align: center;
    }

    &--margin {
      margin-bottom: 10px;
      line-height: 1.1em;
    }

    span {
      &:first-of-type {
        width: 50%;
        margin-right: 57px;
      }

    }
  }

  &__total-sum {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-top: 20px;
    font-weight: bold;

    span {
      margin-left: 10px;
      padding-top: 2px;
      color: rgb(254, 237, 1);
    }
  }

  &__preview-photo {
    margin-top: 15px;
  }
}

.order-list {
  padding: 20px 0 0;
  margin: 0;
}

.order-item {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  padding-bottom: 32px;
  border-bottom: 2px solid rgba(0,159,227,1);

  &:last-of-type {
    margin-bottom: 0;
  }

  &__image {
    width: 100px;
    min-width: 100px;
    height: 120px;
    margin-right: 15px;
    border-radius: 5px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    width: 210px;
    margin-right: 40px;
    text-overflow: ellipsis;
    overflow: hidden; 
    white-space: nowrap;

    @media(max-width: 530px) {
      width: 0;
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__quantity-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 12px;
  }

  &__up,
  &__down {
    position: relative;
    background: transparent;
    border: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &__up {
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: -10px;
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid black;
    }
  }

  &__down {
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top: 100%;
      width: 0; 
      height: 0; 
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid black;
    }
  }

  &__quantity {
    display: flex;
    justify-content: center;
    width: 35px;
    height: 35px;
    padding: 5px;
    border: 2px solid rgb(254, 237, 1);
    border-radius: 50%;
  }

  &__price {
    margin-left: auto;
    padding-right: 10px;
  }

  &__remove-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-left: auto;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
      fill: black;
    }
  }
}

.customer-info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  &__label {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    margin-bottom: 20px;
    margin-right: 15px;

    span {
      margin-right: 5px;
    }
  }

  &__input {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid rgba(254,237,1,1);

    &:focus {
      outline: 0;
    }
  }

  &__button {
    width: 100%;
    height: 35px;
    margin-top: 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
  }

  &__error {
    width: 100%;
    margin: 0;
    flex-grow: 1;
    font-size: 12px;
    color: red;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: rgba(0,0,0,0.2);

  &__title {
    margin: 0 0 20px;
    color: white;
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    color: black;
    transition: all 0.25s ease-in;

    &:hover {
      font-size: 25px;
    }
  }

  svg {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  &__created {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
    padding-top: 20px;
    font-size: 10px;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
    border-top: 1px solid black;

    a {
      margin: 0 3px;
      font-size: 10px;
  
      &:hover {
        font-size: 10px;
      }
    }
  }
}

.animated-image {
  animation-name: moving;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes moving {
  50% {transform: rotate(10deg)}

  from {
    margin-left: -20%;
  }

  to {
    margin-left: 100%;
  }
}
